.form{
   display: block;
  flex-direction: column;
  gap: 50px;
} 

.paragraph {
  color: blue;
    font-weight: 800;
    font-size: 50px;
    font-family: sans-serif;
    background-color: red;
    border: 2px solid black;
    border-radius: 2% 3% 4% 5%;
}

.back{
  background-repeat: repeat-x;
  background-position: 50px 70px;

}

a:link {
  color: red;
  font-weight: 800;
}
a:visited {
  color: purple;
  font-weight: 800;
}
a:hover {
  color: green;
  font-weight: 800;
}
a:active {
  color: orange;
}

/* h1{
  padding: 50px!important;
  border:2px dotted yellow;
} */
p{
  margin: 20px !important;
}
table {
  border: 2px solid red;
  background-color: lime;
}

th{
  color: blue;
  background-color: brown;
}

td{
  background-color: wheat;
}

span{
  color:blue;
  font-size: 50px;
}
/* 
div{
  background-color: red;
  color:white;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  line-height: 1.5;
  margin:10px;
  border-radius:5px;
  text-transform: capitalize;
  text-align:justify;
  font-weight:bold;
} */

div p{
  color : black;
  font-size:large
}

.pos{
  position: fixed;
  color: chartreuse;
  top:0px;
  left : 0px;
}

.ellipsis{
  width: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 2px solid black;
}

.container{
  border:6px solid black;
  display: flex;
  /* flex-direction: column; */

   flex-wrap: nowrap;
  /* flex-wrap: nowrap;
  flex-flow: row-reverse wrap-reverse; */
     align-content: center;

}

.flex-item{
  border:3px solid black;
  color: black;
  font-size: 20px;
  padding: 1rem;
  text-align: center;
  flex-grow: 1;
}
.item1{
  background-color: red;
}
.item2{
  background-color: blue;

  /* flex-grow:1 */
}
.item3{
  background-color: green;

}
.item4{
  background-color: orange;
}
.tem5{
  background-color: yellow;
}

.item7{
  background-color: brown;
}
.item8{
  background-color: pink;
}
.item9{
  background-color: grey;
}
.item10{
  background-color: cyan;
}
.item11{
  background-color: lime;
}
.item12{
  background-color: magenta;
}
.item13{
  background-color: teal;
}

.boxcontainer{
  display:flex;
  justify-content: center;
  flex-direction: row;
  border: 2px solid black;

}

.box{
  width: 100px;
  height: 100px;
  align-items: center;
   background-color: red;
}


