.form{
   display: block;
  flex-direction: column;
  gap: 50px;
} 

.paragraph {
  color: blue;
    font-weight: 800;
    font-size: 50px;
    font-family: sans-serif;
    background-color: red;
    border: 2px solid black;
    border-radius: 2% 3% 4% 5%;
}

.back{
  background-repeat: repeat-x;
  background-position: 50px 70px;

}

a:link {
  color: red;
  font-weight: 800;
}
a:visited {
  color: purple;
  font-weight: 800;
}
a:hover {
  color: green;
  font-weight: 800;
}
a:active {
  color: orange;
}

/* h1{
  padding: 50px!important;
  border:2px dotted yellow;
} */
p{
  margin: 20px !important;
}
table {
  border: 2px solid red;
  background-color: lime;
}

th{
  color: blue;
  background-color: brown;
}

td{
  background-color: wheat;
}

span{
  color:blue;
  font-size: 50px;
}

div{
  background-color: red;
  color:white;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  line-height: 1.5;
  margin:10px;
  border-radius:5px;
  text-transform: capitalize;
  text-align:justify;
  font-weight:bold;
}

div p{
  color : black;
  font-size:large
}

.pos{
  position: fixed;
  color: chartreuse;
  top:0px;
  left : 0px;
}







